---
layout: index
title: Gompanghee
tagline: AI / Software
img : 1.jpg
img-mobile : 1-mobile.jpg
css: index.css
js: test.js
keywords:
canonical: https://gompanghee.github.io
---
{% include JB/setup %}


<!-- ****************** Modal subcribe box sample ************************
<div id="demosMenu">
	<div class="content__container">
	<p class="content__container__text heavy"><a id="trigger-overlay" style="color:white" href="#">
		Know <span class="pink">me</span></a>
	</p>

</div>
</div>-->
<link href="https://fonts.googleapis.com/css?family=Nanum+Gothic&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap" rel="stylesheet">
<div id="socialMenu">
	{% include social-block.html %}
</div>

<style>
  html, body {
    height: 100%;
  }

  body {
    background: black;
    font-family: 'Ubuntu', sans-serif;
  }

  .glitch-wrapper {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .glitch {
    color: white;
    font-size: 50em;
    text-transform: upercase;
    position: relative;
    display: inline-block;
  }

  .glitch::before,
  .glitch::after {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: black;
  }

  .glitch::before {
    left: 2px;
    text-shadow: -2px 0 #49FC00;
    clip: rect(24px, 550px, 90px, 0);
    animation: glitch-anim-2 3s infinite linear alternate-reverse;
  }

  .glitch::after {
    left: -2px;
    text-shadow: -2px 0 #b300fc;
    clip: rect(85px, 550px, 140px, 0);
    animation: glitch-anim 2.5s infinite linear alternate-reverse;
  }

  @keyframes glitch-anim {
    0% {
      clip: rect(19px, 9999px, 49px, 0);
    }

    4.16666667% {
      clip: rect(64px, 9999px, 30px, 0);
    }

    8.33333333% {
      clip: rect(90px, 9999px, 19px, 0);
    }

    12.5% {
      clip: rect(16px, 9999px, 65px, 0);
    }

    16.66666667% {
      clip: rect(97px, 9999px, 86px, 0);
    }

    20.83333333% {
      clip: rect(70px, 9999px, 120px, 0);
    }

    25% {
      clip: rect(29px, 9999px, 128px, 0);
    }

    29.16666667% {
      clip: rect(55px, 9999px, 128px, 0);
    }

    33.33333333% {
      clip: rect(120px, 9999px, 75px, 0);
    }

    37.5% {
      clip: rect(107px, 9999px, 1px, 0);
    }

    41.66666667% {
      clip: rect(69px, 9999px, 111px, 0);
    }

    45.83333333% {
      clip: rect(58px, 9999px, 65px, 0);
    }

    50% {
      clip: rect(68px, 9999px, 103px, 0);
    }

    54.16666667% {
      clip: rect(50px, 9999px, 55px, 0);
    }

    58.33333333% {
      clip: rect(97px, 9999px, 23px, 0);
    }

    62.5% {
      clip: rect(19px, 9999px, 84px, 0);
    }

    66.66666667% {
      clip: rect(64px, 9999px, 148px, 0);
    }

    70.83333333% {
      clip: rect(73px, 9999px, 140px, 0);
    }

    75% {
      clip: rect(2px, 9999px, 1px, 0);
    }

    79.16666667% {
      clip: rect(127px, 9999px, 1px, 0);
    }

    83.33333333% {
      clip: rect(113px, 9999px, 12px, 0);
    }

    87.5% {
      clip: rect(89px, 9999px, 26px, 0);
    }

    91.66666667% {
      clip: rect(96px, 9999px, 64px, 0);
    }

    95.83333333% {
      clip: rect(89px, 9999px, 82px, 0);
    }

    100% {
      clip: rect(97px, 9999px, 115px, 0);
    }
  }

  @keyframes glitch-anim-2 {
    6.66666667% {
      clip: rect(13px, 9999px, 143px, 0);
    }

    10% {
      clip: rect(66px, 9999px, 74px, 0);
    }

    13.33333333% {
      clip: rect(75px, 9999px, 53px, 0);
    }

    16.66666667% {
      clip: rect(40px, 9999px, 92px, 0);
    }

    20% {
      clip: rect(57px, 9999px, 149px, 0);
    }

    23.33333333% {
      clip: rect(105px, 9999px, 67px, 0);
    }

    26.66666667% {
      clip: rect(36px, 9999px, 91px, 0);
    }

    30% {
      clip: rect(26px, 9999px, 0px, 0);
    }

    33.33333333% {
      clip: rect(85px, 9999px, 28px, 0);
    }

    36.66666667% {
      clip: rect(3px, 9999px, 18px, 0);
    }

    40% {
      clip: rect(114px, 9999px, 38px, 0);
    }

    43.33333333% {
      clip: rect(119px, 9999px, 58px, 0);
    }

    46.66666667% {
      clip: rect(57px, 9999px, 125px, 0);
    }

    50% {
      clip: rect(70px, 9999px, 62px, 0);
    }

    53.33333333% {
      clip: rect(125px, 9999px, 119px, 0);
    }

    56.66666667% {
      clip: rect(128px, 9999px, 140px, 0);
    }

    60% {
      clip: rect(129px, 9999px, 114px, 0);
    }

    63.33333333% {
      clip: rect(104px, 9999px, 34px, 0);
    }

    66.66666667% {
      clip: rect(83px, 9999px, 92px, 0);
    }

    70% {
      clip: rect(138px, 9999px, 90px, 0);
    }

    73.33333333% {
      clip: rect(30px, 9999px, 18px, 0);
    }

    76.66666667% {
      clip: rect(115px, 9999px, 130px, 0);
    }

    80% {
      clip: rect(140px, 9999px, 82px, 0);
    }

    83.33333333% {
      clip: rect(127px, 9999px, 79px, 0);
    }

    86.66666667% {
      clip: rect(46px, 9999px, 102px, 0);
    }

    90% {
      clip: rect(111px, 9999px, 137px, 0);
    }

    93.33333333% {
      clip: rect(36px, 9999px, 136px, 0);
    }

    96.66666667% {
      clip: rect(70px, 9999px, 109px, 0);
    }

    100% {
      clip: rect(137px, 9999px, 103px, 0);
    }
  }

  #socialMenu{
    top: 10px;
      right: 10px;
    bottom: unset;
      left: unset;
  }
</style>

<!-- particles.js container --> <div id="particles-js"></div> <!-- stats - count particles -->  <!-- particles.js lib - https://github.com/VincentGarreau/particles.js --> <script src="http://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script> <!-- stats.js lib --> <script src="http://threejs.org/examples/js/libs/stats.min.js"></script>

<div class="glitch-wrapper"><h1 class="glitch" data-text="Gompanghee" style="font-family: 'Ubuntu', sans-serif;">Gompanghee</h1></div>