<div class="side-bar sticky-top">

  <br>
  <br>
  <br>
  
  <div class="card">
    <br />
    <img class="card-img-top img-fluid" src="{{ BASE_PATH }}/assets/img/big/about/profile.jpg" alt="Antonio Trento profile image">
    <div class="card-block">
      <h4 class="card-title ko">이광희 (GwangHee Lee)</h4>
      <h4 class="card-title en hide">GwangHee Lee</h4>
      <p class="card-text ko">딥러닝, 안드로이드 애플리케이션, 웹 앱/소프트웨어, Windows/Linux 응용 소프트웨어</p>
      <p class="card-text ko">Python, Java, C/C++, JavaScript, NodeJS, Visual Basic</p>
      <p class="card-text ko">아래 버튼으로 이메일을 보낼 수 있습니다.</p>
      <p class="card-text en hide">Deep Learning, Android Application, Web App/Software, Windows/Linux Application</p>
      <p class="card-text en hide">Python, Java, C/C++, JavaScript, NodeJS, Visual Basic</p>
      <p class="card-text en hide">You can contact me with the email button below.</p>
      {% include social-block.html %}
    </div>

  </div>
  
  
  <div>
   
    
  </div>
  
</div>
              