<div class="side-bar sticky-top">

  <br>
  <br>
  <br>
  
  <div class="card">
    <br />
    <img class="card-img-top img-fluid" src="{{ BASE_PATH }}/assets/img/big/about/profile.jpg" alt="Antonio Trento profile image">
    <div class="card-block">
      <h4 class="card-title">이광희 (GwangHee Lee)</h4>
      <p class="card-text ko">Deep Learning, Android Application, Web App/Software, Windows/Linux Application</p>
      <p class="card-text ko">Python, Java, C/C++, JavaScript, NodeJS, Visual Basic</p>
      <p class="card-text ko">You can contact me by press one of downstair social buttons.</p>
      {% include social-block.html %}
    </div>

  </div>
  
  
  <div>
   
    
  </div>
  
</div>
              